<div class="page-header">
  <%= link_to new_scoop_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
     Write new scoop
  <% end %>
  <h1>Extra! Extra!  Read all about it!</h1>
</div>

<div class="scoopList">
<% @scoops.each do |scoop| %>
<%= scoop.headline %> <br>
<br>
<%= scoop.story %> <br>
<br>
<br>
<% end %>
</div>
