// "bootstrap-sprockets" must be imported before "bootstrap" for the icon fonts to work.
@import "bootstrap-variables.scss";
@import "bootstrap-custom-variables.scss";
@import "bootstrap-sprockets.scss";
@import "bootstrap.scss";

body {
  padding-top: $navbar-height + 80px;
}
.centerScoop {
  text-align: center;
  font-size: 20px;
}


.page-header {
  a.btn {
    float: right;
  }

  a.btn + a.btn {
    margin-right: 8px;
  }
}

input[type="radio"], input[type="checkbox"] {
  width: initial;
  height: initial;
  margin-top: 7px;
}

main {
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top:90px;
}

.scoops {
  th, td {
    text-align:center;
  }
}
.nav {
  padding-top: 20px;
  padding-right: 20px;
  background: white;
}
.navbar-collapse {
  width: 900px;
  height:100px;
}
.navbar-brand {
  position: relative;
  left: 200px;
  padding-top: 50px;
  font-size: 50px;
  height: 100px;
  background: white;
}
.navbar {
  background: white;
  border: none;
}
.navbar-brand {
  font-family: DK Crayon Crumble
}
.scoopFeed {
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top:90px;
}
.scoopList {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top:90px;
}
.signIn, .signingIn {
    width: 500px;
    margin: 0 auto;
    left: 200px;
}
.btn, .btn-hover {
  background: transparent;
  border: none;
  color: black;
}
#new_kid.form-horizontal {
  width: 500px;
  margin: 0 auto;
  left: 200px;
}
#new_parent.form-horizontal {
  width: 500px;
  margin: 0 auto;
  left: 200px;
}
.control-label {
  text-align: center;
  width: 200px;
  margin: 0 auto;
  position: relative;
}
.form-control {
  width: 200px;
  position: relative;
  margin: 0 auto;
}
#new {
  text-align: center;
  margin: 0 auto;
  left: 50px;
}
#new_scoop {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.form-group {
  margin: 0 auto;
}
.scoop {
  border: 8px solid rgba(211, 211, 211, 1);
  padding: 20px;
  border-radius: 10px;
  margin: 5px;
}
.grey {
  border: 8px solid rgba(211, 211, 211, 1);
  padding: 50px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(211, 211, 211, 1);
}
.green {
  border: 8px solid rgba(0, 255, 0, 1);
  padding: 50px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 1);
}
.blue {
  border: 8px solid rgba(0, 0, 255, 1);
  padding: 50px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 255, 1);
}
.purple {
  border: 8px solid rgba(148, 0, 211, 1);
  padding: 50px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(148, 0, 211, 1);
}
.gold {
  border: 8px solid rgba(255, 212, 84, 1);
  padding: 50px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(255, 212, 84, 1);
}
.colorBar {
 text-align: center;
 padding-left: 0;
 height: 100px;
}
.colorBarTwo {
  text-align: right;
  padding: 20px;
}
.colors {
  list-style: none;
  display: inline !important;
  padding: 10px;
  position:relative;
}

.color-button {
  width: 50px;
  height: 50px;
  position: relative;
  display: inline;
}

button {
  height: 30px;
  width: 30px;
  margin: 10px 5px 10px 5px;
  padding: 10px;
  border: 3px solid white;
}
.btn {
  font-family: DK Crayon Crumble;
  font-size: 30px;
  position: relative;
  bottom: 20px;
  right: 20px;
}
.button-grey {
  background: rgba(211, 211, 211, 1);
}
.button-green {
  background: rgba(0, 255, 0, 1);
}
.button-blue {
  background: rgba(0, 0, 255, 1);
}
.button-purple {
  background: rgba(148, 0, 211, 1);
}
.button-gold {
  background: rgba(255, 212, 84, 1);
}
.button-greenTwo {
  background: rgba(0, 255, 0, 1);
  border: 3px solid rgba(0, 255, 0, 1);
}
.extra {
  font-family: DK Crayon Crumble
}
.extraTwo {
  font-family: KBDunkTank
}
#greys {
  position: relative;
  left: 125px;
  bottom: -32px;
}
#greens {
  position: relative;
  left: 200px;
  bottom: 45px;
}
#blues {
  position: relative;
  left: 275px;
  bottom: 122px;
}
#purples {
  position: relative;
  left: 350px;
  bottom: 199px;
}
#golds {
  position: relative;
  left: 425px;
  bottom: 276px;
}
form.button_to {
  width: 50px;
}
.alert {
  float: right;
  background: white;
  width: 90px;
  height: 30px;
  border: 2px solid blue;
}
.close {
  position: relative;
  bottom: 25px;
  left: 18px;
}
#flash_notice {
  position: relative;
  bottom: 60px;
}
h3 {
  font-family: DK Crayon Crumble;
  float: right;
  position: relative;
  bottom: 15px;
}
h1.extra {
  position: relative;
  bottom: 5px;
}





